<h1>BudgetApp</h1>

<%= link_to 'Log in', new_user_session_path, class: 'btn btn-outline-dark my-2 my-sm-0 me-3' %>
<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-dark my-2 my-sm-0' %>